<h1 mat-dialog-title>Add Player</h1>

<div class="dialog-container">
  <div class="content-container">
    <div mat-dialog-content>
      <mat-form-field>
        <mat-label>Player name</mat-label>
        <input matInput [(ngModel)]="playerName">
      </mat-form-field>
      <div class="add-file">
        <label>Song File</label>
        <input type="file" (change)="handleFileInput($event)">
      </div>
    </div>
  </div>

  <mat-dialog-actions>
    <button class="btn" (click)="addPlayerToLocalstorage()">Add</button>
  </mat-dialog-actions>
</div>
