<div class="close-icon-container">
  <mat-icon (click)="closeDialog()">close</mat-icon>
</div>


<h1 mat-dialog-title>Speler Toevoegen</h1>

<div class="dialog-container">
  <div class="content-container">
    <div mat-dialog-content>
      <mat-form-field>
        <mat-label>Spelers naam</mat-label>
        <input matInput [(ngModel)]="playerName">
      </mat-form-field>
      <div class="add-file">
        <label>Audio bestand</label>
        <input type="file" (change)="handleFileInput($event)">
      </div>
    </div>
  </div>

  <mat-dialog-actions>
    <button class="btn" (click)="addPlayerToLocalstorage()">Toevoegen</button>
  </mat-dialog-actions>
</div>
