mat-form-field {
  width: 100%;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensures the container takes the full height of the dialog */
}

.content-container {

  flex: 1; /* This will make the content container grow and push the actions to the bottom */
  max-height: calc(70% - 60px);
}

mat-dialog-actions {
  margin: 5%; /* Remove default margin */
  justify-content: flex-end; /* Right-align the button in actions */
}

.add-file {
  display: flex;
  flex-direction: column;
}

.btn {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  height: 55px;
  width: 100%;
  border-radius: 3px;
  font-weight: 400;
  font-size: 20px;
  background: red;
  color: #fff;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}
