/* Assuming your dialog has a relative position */
.mat-dialog-container {
  position: relative;
}

.close-icon-container {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  cursor: pointer; /* Makes the icon look clickable */
  z-index: 1; /* Ensure it stays on top */
}

.dialog-container {
  display: flex;
  flex-direction: column;
  height: 75vh;
}

mat-form-field {
  width: 100%;
}

.content-container {
  flex-grow: 1;
  overflow-y: auto;
}

.add-file {
  display: flex;
  flex-direction: column;
}

label {
  color: black;
}

.btn {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  height: 55px;
  width: 90%;
  border-radius: 3px;
  font-weight: 400;
  font-size: 20px;
  background: red;
  color: #fff;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.player-amount-section {
  display: flex;
  flex-direction: column;
}

.number-input {
  width: 20%;
}

.players-list {
  width: 100%;
  max-height: 33vh;
  overflow-y: auto;
  margin-top: 5%;
}

mat-card {
  display: flex;
  align-items: center;
  padding: 16px;
  margin-bottom: 10px;
}

.card-content-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.player-name {
  flex-grow: 1;
  font-size: 150%;
}

mat-icon {
  flex-shrink: 0;
  margin-left: 16px;
  color: red;
}

#closeButton {
  color: black;
}


