.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; /* Add this */
  align-items: center;    /* Add this */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns, each taking up half the available space */
  gap: 10px;
  background: var(--grid-color);
  width: 90%;
  height: min-content;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10%;
}

.btn {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  height: 55px;
  border-radius: 3px;
  font-weight: 400;
  font-size: 20px;
  background: var(--play-screen-button-color);
  color: var(--text-color);
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.btn {
  -webkit-tap-highlight-color: transparent;
}

.danger-color {
  background-color: red;
  color: var(--stop-text-color);
}

#AddButton {
  width: 9%;
  border-radius: 100%;
}

#oponent {
  width: calc(100% - 20px);  /* 10px left padding + 10px right padding */
  margin-top: 100px;
  background-color: blue;
  color: var(--stop-text-color);
}

#oponent-stop {
  width: calc(100% - 20px);  /* 10px left padding + 10px right padding */
  margin-top: 100px;
  color:  var(--stop-text-color);
}

h1 {
  color: white;
  margin-top: 10%;
}

