<div class="close-icon-container">
  <mat-icon (click)="closeDialog()">close</mat-icon>
</div>


<h1 mat-dialog-title>Nummer Toevoegen</h1>

<div class="dialog-container">
  <div class="content-container">
    <div mat-dialog-content>
      <div class="add-file">
        <label>Audio bestand</label>
        <input type="file" accept="audio/*" (change)="handleFileInput($event)">
      </div>
    </div>
  </div>

  <mat-dialog-actions>
    <button class="btn" (click)="addSongToLocalStorage()">Toevoegen</button>
  </mat-dialog-actions>
</div>
